body{
     background-color:lightgray; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.todo-container{
    width: 300px;
    padding:10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    border-radius: 10px;
    /* align-items: flex-start; */
}
.todo-item{
    display: flex;
    padding: 1px;
    justify-content:space-between;
    align-items: center;
}
.todo-button{
    width: 100%;
    padding:10px 20px;
    border-radius: 10px;
    font-weight: bold;
}
.card{
    padding:10px 20px;
    /* margin: 10px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;

  }
.input-field{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0px;
    font-size: 20px;

}
.btn{
    padding: 10px 20px;
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
}